body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 1.6px;
  color: #E8E8E8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about__list, .nav__list {
  list-style: none;
}

.hero__scroll, .nav__link, .logo {
  text-decoration: none;
  color: currentColor;
}

.title {
  font-family: "Aleo", serif;
  font-size: 36px;
  line-height: 0.72;
  color: #E8E8E8;
}

.btn {
  padding: 18px 40px;
  font-family: "Aleo", serif;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #E8E8E8;
  background-image: linear-gradient(45deg, #496BFE 40%, #5474FD 40%);
  border: none;
  cursor: pointer;
}

.header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 28px 0;
  background-color: #5474FD;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #E8E8E8;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 35px;
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 1.86;
  text-transform: uppercase;
  color: #E8E8E8;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  padding: 20px 0;
}

.hero {
  height: 100vh;
  padding-top: 264px;
  padding-bottom: 215px;
  background-image: url("../../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  text-align: center;
}

.hero__title {
  margin-bottom: 11px;
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 48px;
  line-height: 0.54;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.hero__subtitle {
  margin-bottom: 48px;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 6.82px;
}

.search {
  position: relative;
  margin-bottom: 107px;
  margin-left: auto;
  margin-right: auto;
  width: 653px;
}

.search__input {
  width: 653px;
  height: 64px;
  background-color: #FFFFFF;
  border: none;
}

.search__label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 2.8px;
  color: #999999;
}

.search__btn {
  position: absolute;
  top: 50%;
  right: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 17px 20px;
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #E8E8E8;
  background-color: #5474FD;
  border: none;
  cursor: pointer;
}

.search__icon {
  margin-left: 15px;
  width: 22px;
  height: 22px;
  fill: currentColor;
}

.hero__scroll {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 2.8px;
  color: getCOlor(primary);
}

.about {
  padding: 118px;
  background-image: url("../../images/about/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__wrapper {
  margin-right: 110px;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

.title {
  margin-bottom: 50px;
}

.about__text {
  margin-bottom: 45px;
}

.about__list {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.about__item:not(:last-child) {
  margin-bottom: 10px;
}

.about__img--right {
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */