.advantage {
    padding: 115px 0;

    background-color: getColor(background);
}

.advantage__list {
    @extend %list;

    display: flex;
    align-items: center;
    justify-content: center;
}

.advantage__item {
    margin-right: 158px;

    font-family: getFont(secondary);
    font-size: 36px;
    line-height: 0.72;
    text-align: center;

    &:last-child {
        margin-right: 0;
    }
}

.advantage__icon {
    margin-bottom: 35px;

    width: 100px;
    height: 100px;
    fill: currentColor;
}