.advantage {
  padding: 115px 0;

  background-color: getColor(background);
}

.advantage__list {
  @extend %list;

  @include bpoint(tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.advantage__item {
  position: relative;

  margin-bottom: 70px;

  font-family: getFont(secondary);
  font-size: 36px;
  line-height: 1.22;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  @include bpoint(tablet) {
    margin-bottom: 0;

    font-size: 32px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.advantage__icon {
  position: relative;
  margin-bottom: 35px;

  width: 100px;
  height: 100px;
  fill: currentColor;

  &--map {
    fill: getColor(accent);
  }

  &--check {
    fill: getColor(icon-b);
  }

  &--airplane {
    fill: getColor(icon-c);
  }
}
