.advantage {
    padding: 115px 0;

    background-color: getColor(background);
}

.advantage__list {
    @extend %list;

    display: flex;
    align-items: center;
    justify-content: center;
}

.advantage__item {
    position: relative;
    margin-right: 158px;

    font-family: getFont(secondary);
    font-size: 36px;
    line-height: 0.72;
    text-align: center;

    &:last-child {
        margin-right: 0;
    }

    &:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 40%;
        right: 0;

        transform: translateX(100%);

        display: block;
        width: 158px;
        height: 1px;

        background-color: getColor(active-white);
    }
}

.advantage__icon {
    position: relative;
    margin-bottom: 35px;

    width: 100px;
    height: 100px;
    fill: currentColor;
}