// Maps
$colors: (
    'accent': #5474FD,
    'primary': #E8E8E8,
    'secondary': #ffffff,
    'copy': #999999,

    'background-card': #232323,

    'active-accent': #496BFE,
    'active-white': #FFFFFF,
    'active-black': #000000,
);

$shadows: (
    'card': 0px 8px 30px rgba(212, 20, 67, 0.1),
    'btn': 0px 6px 5px rgba(0, 0, 0, 0.29),
);

$properties: (
    'cubic': cubic-bezier(0.175, 0.885, 0.32, 1.275),
    'time': 350ms,
);

$fonts: (
    'primary': ('Josefin Sans', sans-serif),
    'secondary': ('Aleo', serif),
);

$breakpoints: (
    'mobile': 320px,
    'tablet': 768px,
    'desktop': 1280px,
);

// Colors
@function getColor($key) {
    @return map-get($colors, $key);
}

// Shadows
@function getShadow($key) {
    @return map-get($shadows, $key);
}

// Properties
@function getProperty($key) {
    @return map-get($properties, $key);
}

// Fonts
@function getFont($key) {
    @return map-get($fonts, $key);
}

// Breakpoints
@function getSize($key) {
    @return map-get($breakpoints, $key);
}